  html {
/*  background-image:url('viking.jpg');*/
/*  background-position:right bottom;*/
  background-repeat:no-repeat;
  background: url('viking.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Amarante', cursive;
}

h1{
  float:left;
  margin-top:0px;
}

.container {
  float:left;
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 10px;
  text-align: center;
  background: rgb(92, 17, 17);
  color:white;
  -webkit-box-shadow: 0 0 5px 5px rgb(92, 17, 17);
  box-shadow: 0 0 5px 5px rgb(92, 17, 17);
  margin-left: 90px;
  margin-top: 50px;
  overflow:hidden;
}

.survey_container {
  float:left;
  margin-left: 30px;
}

.container_create_survey{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
th {
  text-align: left;
}

.submit_button {
  height: 42px;
  width: 120px;
  background-color:rgb(226, 226, 159);
}

nav {
  height: 100px;
  margin:20px;
  margin-top:20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
  background-color:rgb(92, 17, 17);
  color:white;
  -webkit-box-shadow: 0 0 5px 5px rgb(92, 17, 17);
  box-shadow: 0 0 5px 5px rgb(92, 17, 17);
}

.survey_titles li{
  list-style-type: none;
}

#edit, #delete, #stats {
  margin-left: 5px;
  margin-right: 5px;
}

#edit {
  margin-left: 10px;
}

.logout {
/*  clear:both;
  margin-top: -70px;*/
 /* float:right;*/
  text-decoration: none;
  font-size: 25px;
  color:white;
  padding-right:10px;
}
.home{
 /* clear:both;
  margin-top: -70px;*/
  /*float:right;*/
  text-decoration: none;
  font-size: 25px;
  color:white;
  padding-right:70px;
}
.create_survey {
/*  clear:both;
  margin-top: -70px;*/
/*  float:right;*/
  text-decoration: none;
  font-size: 25px;
  color:white;
  padding-right:70px;
}
.login {
  float: right;
  margin-top:30px;
  color:white;
}
.nav_bar_stuff{
  float:right;
  display:inline;
  color:white;
  text-decoration:none;
  margin-top: 34px;
}
.title {
  color: white;
  text-decoration: none;
  font-size: 50px;
  padding-left:30px;
}

.welcome_user{
  padding-left: 20px;
  padding-top:40px;
}

.user_name {
  clear:both;
  padding-left:30px;
  font-size: 20px;
}

.welcome_label {
  padding-top: 15px;
}

.text_box {
  -webkit-box-shadow: inset 0 0 5px#888;
  box-shadow: inner 0 0 5px #888;
}

input[type="text"], input[type="password"] {
  height: 35px;
  width: 250px;
  line-height: 35px;
}

a:hover {
  color: red;
}


a:link {
  color: rgb(243, 243, 138);
  text-decoration: none;
}

.linkss {
  color: rgb(243, 243, 138);
}

/*a:visited {
  color: rgb(243, 243, 138);
}*/

.surveys_created {
  clear:both;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.surveys_created h2 {
  text-align: left;
  padding-left: 0px;
}

#hatchet {
  height: 80px;
  padding-left 20px;
  padding-right 20px;
}

.welcome_label{
  padding-left: 110px;
  padding-top: 30px;
}

#add_picture {
  text-align: center;
}

.create_survey_title{
  font-size: 30px;
}

