.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

nav {
  border:2px solid black;
  margin:10px;
  padding-left: 20px;
  padding-right: 20px;
}

.survey_titles li{
  list-style-type: none;
}

#edit, #delete, #stats {
  margin-left: 5px;
  margin-right: 5px;
}

#edit {
  margin-left: 10px; 
}

.logout {
  float:right;
}
