html {
  background-image:url('background.png');
}

body {
  font-family: 'Averia Serif Libre', cursive;

}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 2px solid green;
  background: white;
  opacity: .8;
}

th {
  text-align: left;
}

nav {
  border:2px solid green;
  margin:10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background-color:white;
  color:rgb(17, 17, 107);
  opacity: .8;
}

.survey_titles li{
  list-style-type: none;
}

#edit, #delete, #stats {
  margin-left: 5px;
  margin-right: 5px;
}

#edit {
  margin-left: 10px;
}

.logout {
  float:right;
  text-decoration: none;
  font-size: 25px;

}
.home{
  clear:both;
  float:right;
  text-decoration: none;
  font-size: 25px;
    margin-top: -120px;
}

.title {
  color: rgb(18, 82, 10);
  text-decoration: none;
  font-size: 50px;
}


