<!-- <div class="container"> -->

  <form action="/create_survey" method="POST">
    <label for="Title">Title</label><input type="text" name="title"><br>
    <br>
    <label for="add_question">Add question</label><textarea cols="50" rows="5" name="add_question"></textarea><br>
    <br>
    <input type="submit" value="Submit question"></input>
  </form>

<!-- </div> -->
