<%@survey = Survey.find_by_id(10) %>
    <h1><%= @survey.title %></h1>

<form action="/submit_response" method="POST">
  <% @survey.questions.each_with_index do |question, index| %>
    <% if question.q_type == "text" %>

    elsif

    emd




    <%= "#Question# #{index+1}, Title: #{@survey.title}" %> <br>


  <% end %>



<!-- here we grab specific survey question -->

<!--- text box for other user to answer in -->

<!-- form input will then be saved as other user response -->

  <br>
</form>


