
<h1>Welcome to Survey Gorilla</h1>

<p>To start your survey experience, please sign up or log in!</p>

<form action="/signup" method="POST">
  <span>Register</span><br>
  <label for="username">Username</label>
  <input type="text" name="user[username]"><br>
  <label for="password">Password</label>
  <input type="password" name="user[password]">
  <input type="submit" value="submit">
</form> 


