
<h1 class="welcome_label">Welcome to Viking Gorilla!</h1><br><br><br><br>

<p>To start your survey experience, please sign up or log in!</p>

<form action="/signup" method="POST">
  <br><br>
  <label for="username">Create a username:</label>
  <input class="text_box" type="text" name="user[username]"><br><br>
  <label for="password">Create a password:</label>
  <input class="text_box" type="password" name="user[password]"><br><br><br>
  <input class="submit_button" type="submit" value="submit"><br><br>
</form> 


