  <form action="/survey_edit" method="POST">
    <label for="Title">Title</label><input type="text" name="title" value="<%=@survey.title%>"><br>
    <br>
    <label for="add_question">Add question</label>
    <textarea cols="50" rows="5"><%= @survey.questions.first %></textarea name="add_question"><br>
    <br>
    <input type="submit" value="Submit question"></input>
  </form>






<!-- find way to iterate through survey.questions -->
