
  <h1>Welcome! What would you like to do?</h1>
<div>
  <a href="/create_survey">Create a survey</a>


  <h2>Surveys you created:</h2>
    <% current_user.surveys.each do |survey| %>
    <ul class="survey_titles">
      <li><%= survey.title %>  <a href='/survey_edit/<%= survey.id %>'>
        <span id="edit">Edit</span></a>  <a href='/survey_delete/<%= survey.id %>'>
        <span id="delete">Delete</span></a>  <a href='/survey_stats/<%= survey.id %>'>
        <span id="stats">Stats</span></a></li> 
    </ul>
    <% end %>

</div>

<div>
  <h2>Surveys you have taken:</h2>
    <% current_user.submissions.each do |submission| %>
      <% submission.surveys.each do |survey| %>
        <ul class="survey_titles">
          <li>survey.title</li>
        </ul>
      <% end %>
    <% end %>
</div>
